*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHome{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-style: italic;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #05F26C;
}

.btns{
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
}

.btn{
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    background-color: #340040;
    color: white;
    font-weight: 700;
    transition: transform 0.3s;
}

.btn:hover{
    transform: scale(1.03);
}