*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.teamsItem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2em;
    background-color:#07F2F2 ;
    color:#340040;
}

td { 
    padding: 1em;
}
table { 
    border-spacing: 2em;
    border-collapse: collapse;
}

tr.spaceUnder>td {
    padding-bottom: 1.5em;
}

.homeBtn{
    position:absolute;
    top:2em;
    left:2em;

    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    background-color: #340040;
    color: white;
    font-weight: 700;
    transition: transform 0.3s;
}

.homeBtn:hover{
    transform: scale(1.03);
}