*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainVideosContainer{
    background-color:#340040 ;
    color: #EAF205;
}

.videosContainer{
    display:flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding: 1em 0;
}

.homeBtnHigh{
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: .5em;
    border: none;
    cursor: pointer;
    background-color: #EAF205;
    color: #340040;
    font-weight: 700;
    transition: transform 0.3s;
}

.homeBtnHigh:hover{
    transform: scale(1.03);
}

.title{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.videoItem{
    transition: transform 0.3s;
}

.videoItem:hover{
    transform: scale(1.05);
}

.premLogoHigh{
    filter: invert(80%) sepia(77%) saturate(556%) hue-rotate(6deg) brightness(103%) contrast(96%);
}